@mixin button($color) {
  appearance: none;
  background-color: transparent;
  backface-visibility: hidden;
  border: 1px solid transparent;
  border-bottom-color: $color;
  display: inline-block;
  font-size: calc(var(--fontSize--base) * 0.95);
  font-weight: var(--fontWeight--base);
  font-family: var(--fontFamily);
  color: white;
  cursor: pointer;
  line-height: var(--lineHeight--sm);
  margin: var(--spacer--sm) var(--spacer--sm) var(--spacer--sm) 0;
  padding: var(--spacer--base) 0;
  position: relative;
  text-align: center;
  text-decoration: none;
  transform-style: preserve-3d;
  vertical-align: text-bottom;
  white-space: nowrap;
  @include button-anim();
  &::after {
    background-color: $color;
    content: "";
    position: absolute;
    height: 3px;
    bottom: 0;
    left: 0;
    right: 0;
    visibility: hidden;
    transform: scale(0);
    transition: all 0.3s ease-in-out 0s;
    z-index: -1;
  }
  &:hover {
    border-bottom-color: transparent;
    cursor: pointer;
    text-decoration: none;
    &::after {
      visibility: visible;
      transform: scale(1);
    }
    .icon {
      &[class*="up"] {
        transform: translateY(-3px);
      }
      &[class*="right"] {
        transform: translateX(3px);
      }
      &[class*="down"] {
        transform: translateY(3px);
      }
      &[class*="left"] {
        transform: translateX(-3px);
      }
    }
  }
  &:focus {
    border-bottom-color: $color;
    outline: 0;
  }
}
