.contact {
  &__info {
    .nav & {
      margin: var(--spacer--lg) 0 0;
      padding: var(--spacer--lg) 0 0;
      position: relative;
      &::before {
        content: "";
        display: block;
        height: 2px;
        width: var(--spacer--base);
        background: var(--color--primary);
        position: absolute;
        top: 0;
      }
      li {
        &:last-child {
          display: inline-block;
        }
      }
      @include breakpoint("large") {
        display: none;
        margin: 0;
        padding: 0;
      }
    }
  }

  &__window {
    position: fixed;
    background-color: rgba(1, 1, 1, 0.8);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    text-align: center;
    @include menu-anim();
    @include z-index(modal);
    a {
      color: var(--color--text);
      font-size: var(--fontSize--h4);
      font-weight: var(--fontWeight--light);
      &:hover {
        text-decoration: none;
      }
      @include breakpoint("xlarge") {
        font-size: var(--fontSize--h3);
      }
    }
    ul {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      padding: var(--spacer--lg);
      li {
        padding: var(--spacer--lg);
      }
    }
    &.active {
      visibility: visible;
      opacity: 1;
      pointer-events: auto;
    }
    .contact__close {
      font-size: var(--fontSize--base);
      position: absolute;
      top: calc(var(--spacer--xl) + 0.65rem);
      right: calc(var(--spacer--xl));
    }
  }
}
