.footer {
  font-family: var(--fontHeading);
  font-size: var(--fontSize--sm);
  font-weight: var(--fontWeight--light);
  padding: var(--spacer--lg);
  position: relative;
  @include z-index(footer);
}
