.footer {
  font-size: var(--fontSize--sm);
  padding: var(--spacer--lg);
  position: relative;
  @include z-index(footer);
  a {
    color: var(--color--txt);
    font-weight: var(--fontWeight--base);
    text-decoration: none;
  }
}
