.header {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  @include z-index(header);
  .logo {
    display: inline-block;
    fill: var(--color--txt);
    margin: var(--spacer--lg);
    position: relative;
    height: 50px;
    width: 60px;
    @include z-index(logo);
    @include breakpoint("large") {
      height: 60px;
      width: 80px;
    }
  }
}
