.hero {
  color: white;
  display: grid;
  grid-template-columns: 3.5rem repeat(6, 1fr) 3.5rem;
  grid-template-rows: minmax(10.5rem, 1fr) auto auto auto auto 1fr;
  min-height: 100vh;
  overflow: hidden;
  padding: 0 0 var(--spacer--base);
  position: relative;
  @include text-shadow;
  @include breakpoint("small") {
    grid-template-columns: repeat(8, 1fr);
  }

  > * {
    @include z-index(content);
  }

  .title {
    grid-row: 2/3;
    span {
      @include breakpoint("xsmall") {
        display: inline-block;
        white-space: nowrap;
      }
    }
  }
  .subtitle {
    grid-row: 3/4;
  }

  .body {
    grid-row: 4/5;
    max-width: 35rem;
  }

  .title,
  .subtitle,
  .body {
    grid-column: 2/8;
    @include breakpoint("large") {
      grid-column: 3/8;
    }
  }

  > .btn {
    justify-self: start;
    grid-column-start: 2;
    grid-row: 5/6;
    @include z-index(content);
  }

  &__image {
    background-attachment: fixed;
    background-image: url(src/assets/img/hero--img.jpg),
      linear-gradient(120deg, #164b49, #d4af37);
    background-repeat: no-repeat;
    background-position: 75% 50%;
    background-size: cover;
    background-blend-mode: multiply;
    backface-visibility: hidden;
    grid-column: 1/9;
    grid-row: 1/9;
    margin: var(--spacer--base) var(--spacer--base) 0;
    opacity: 0.5;
    pointer-events: none;
    position: relative;
    will-change: transform;
    @include box-shadow();
    @include z-index(background);
    @include breakpoint("medium") {
      background-attachment: scroll;
      grid-column: 4/9;
      margin: 15vh 0;
    }
  }
}
