.hero {
  display: grid;
  grid-template-columns: var(--spacer--xl) repeat(6, 1fr) var(--spacer--xl);
  grid-template-rows: minmax(10.5rem, 1fr) repeat(6, auto) 1fr;
  @include fullscreen;
  @include breakpoint("small") {
    grid-template-columns: minmax(18vw, 1fr) repeat(6, 1fr) minmax(18vw, 1fr);
  }
  @include breakpoint("medium") {
    grid-template-columns: minmax(15vw, 1fr) repeat(6, 1fr) minmax(20vw, 1fr);
  }
  @include breakpoint("large") {
    grid-template-columns: minmax(20vw, 1fr) repeat(6, 1fr) minmax(30vw, 1fr);
    grid-template-rows: minmax(15vh, auto) 1fr repeat(4, auto) 1fr minmax(
        15vh,
        auto
      );
  }

  > * {
    @include z-index(content);
  }

  .title {
    grid-row: 3/4;
  }
  .subtitle {
    grid-row: 4/5;
  }
  .body {
    grid-row: 5/6;
  }

  .btn {
    grid-row: 6/7;
    &:hover {
      ~ .hero__image {
        box-shadow: none;
        opacity: 1;
      }
    }
  }

  .title,
  .subtitle,
  .body,
  .btn {
    grid-column: 2/8;
    justify-self: start;
    @include z-index(content);
    @include breakpoint("large") {
      grid-column: 3/8;
    }
  }

  // &.case {
  //   .title,
  //   .subtitle,
  //   .body {
  //     @include breakpoint("large") {
  //       grid-column: 2/6;
  //     }
  //   }
  // }
}
