.nav {
  position: absolute;
  top: var(--spacer--lg);
  right: var(--spacer--base);

  &__item {
    display: inline-block;
    padding: 0 var(--spacer--sm);
    a {
      color: var(--color--txt);
      font-weight: var(--fontWeight--base);
      display: block;
      padding: var(--spacer--base) var(--spacer--sm);
      text-decoration: none;
      // text-shadow: 0 1px 2px var(--color--bg);
      mix-blend-mode: exclusion;
      &::after {
        background: var(--color--secondary);
        content: "";
        color: transparent;
        margin: auto;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        width: 0;
        height: 3px;
        @include button-anim();
      }
      &:hover,
      &.active {
        &::after {
          width: 30%;
        }
      }
    }
  }
}
