// .project {
// &__title {
//   margin: 0 0 calc(var(--spacer--sm));
// }
// &__role {
//   margin: 0 0 calc(var(--spacer--sm));
// }
// &__type {
//   margin: 0 0 calc(var(--spacer--sm));
// }
// &__client {
//   margin: 0 0 calc(var(--spacer--sm));
// }
// &__date {
//   margin: 0 0 calc(var(--spacer--sm));
// }
// &__details {
//   margin: 0 0 calc(var(--spacer--sm));
// }

// &__card {
//   align-items: start;
//   display: grid;
//   grid-template-columns: repeat(8, 1fr);
//   grid-template-rows: auto-fill;
//   padding: var(--spacer--base) 0;
//   position: relative;
// @include breakpoint("medium") {
//   grid-template-rows: repeat(2, 1fr) repeat(2, auto) repeat(2, 1fr);
// }
// @include breakpoint("large") {
//   grid-template-columns: minmax(20vw, 1fr) repeat(6, 1fr) minmax(20vw, 1fr);
//   grid-template-rows: minmax(15vh, auto) 1fr repeat(4, auto) 1fr minmax(
//       15vh,
//       auto
//     );
// }
// @include breakpoint("xlarge") {
//   grid-template-columns: minmax(25vw, 1fr) repeat(6, 1fr) minmax(25vw, 1fr);
// }
// @include breakpoint("whoa") {
//   grid-template-columns: minmax(30vw, 1fr) repeat(6, 1fr) minmax(30vw, 1fr);
// }

// .project__details {
//   grid-column: 2/8;
//   grid-row: 2/3;
//   @include breakpoint("medium") {
//     grid-row: 3/4;
//     .project__type {
//       font-size: var(--fontSize--sm);
//     }
//   }
// }

// .btn {
//   grid-column: 2/8;
//   grid-row: 4/5;
//   justify-self: start;
//   margin: var(--spacer--base) 0;
//   &:hover {
//     ~ .project__image {
//       box-shadow: none;
//       opacity: 1;
//     }
//   }
// }
// }
// }

.case {
  &__block {
    > div {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: repeat(2, 1fr);
      justify-items: center;
      @include breakpoint("medium") {
        grid-template-columns: repeat(3, auto);
        grid-template-rows: repeat(3, auto);
      }
    }
  }
  &__image {
    background: var(--color--grey1);
    grid-column: 1/2;
    grid-row: 1/3;
    @include fullscreen();
    @include breakpoint("medium") {
      grid-column: 1/4;
    }
    &.centered {
      padding: var(--spacer--xl) 10vw;
      img {
        max-width: 80vw;
      }
    }
  }
  &__body {
    background: var(--opacity--90);
    grid-column: 1/2;
    grid-row: 2/3;
    padding: var(--spacer--xl);
    @include z-index(content);
    @include breakpoint("medium") {
      align-self: center;
      grid-row: 1/3;
      .centered & {
        grid-column: 2/3;
      }
      .left & {
        grid-column: 1/2;
      }
      .right & {
        grid-column: 3/4;
      }
    }
  }
}
