html {
  background-color: var(--color--bg);
  color: var(--color--txt);
  font-family: var(--fontFamily);
  font-weight: var(--fontWeight--base);
  line-height: var(--lineHeight--base);

  // @media screen and (prefers-color-scheme: light) {
  //   background-color: var(--color--bg--alt);
  //   color: var(--color--txt--alt);
  // }
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  min-height: 100vh;
  padding: 0;
  position: relative;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
}

body.fixed {
  overflow: hidden;
  .logo,
  .main,
  .footer {
    filter: blur(5px);
    pointer-events: none;
    @include menu-anim();
  }
  @include breakpoint("large") {
    overflow: scroll;
    .logo,
    .main,
    .footer {
      filter: blur(0);
      pointer-events: all;
    }
  }
}

hr {
  clear: both;
  display: block;
  margin: var(--spacer--lg) auto;
}

ul,
ol {
  margin: 0 0 var(--spacer--base);
  padding: 0;
}

ul {
  list-style: none;
}

ol {
  padding: 0 0 0 var(--spacer--base);
}

li {
  margin: 0;
  padding: var(--spacer--sm) 0;
  span {
    color: var(--color--tertiary);
    font-size: 75%;
    font-style: italic;
    font-weight: 100;
  }
}

table {
  border-collapse: collapse;
  margin: 0 0 var(--spacer--base);
  overflow-x: auto;
  text-align: left;
  width: 100%;
  thead {
    border-bottom: 3px solid var(--color--primary);
    font-weight: var(--fontWeight--light);
  }
  tbody {
    border-bottom: 1px solid var(--color--tertiary);
  }
  tfoot {
    border-top: 1px solid var(--color--tertiary);
  }
  th {
    font-weight: var(--fontWeight--bold);
    padding: var(--spacer--base) var(--spacer--base) var(--spacer--base)
      var(--spacer--sm);
  }
  td {
    font-weight: var(--fontWeight--light);
    padding: var(--spacer--base) var(--spacer--base) var(--spacer--base)
      var(--spacer--sm);
  }
  &.striped {
    tr:nth-child(even) {
      background-color: var(--color--grey);
    }
  }
  &.clickable {
    tr:hover {
      background-color: var(--color--greyLt);
      color: var(--color--black);
      cursor: pointer;
    }
    thead tr:hover,
    tfoot tr:hover {
      background: none;
      color: inherit;
      cursor: default;
    }
  }
}

img {
  display: block;
  max-width: 100%;
}

svg {
  @include button-anim();
}

section,
article {
  margin: 0;
  padding: 0;
  position: relative;
  width: 100%;
}

:focus {
  outline-color: var(--color--primary);
}

::selection,
::-moz-selection,
::-webkit-selection {
  background: white;
  color: var(--color--black);
  text-shadow: none;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
