html,
body {
  background: var(--color--bg);
  background-image: linear-gradient(
    345deg,
    var(--gradient--start),
    var(--gradient--end)
  );
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: var(--color--txt);
  font-family: var(--fontFamily);
  font-weight: var(--fontWeight--base);
  line-height: var(--lineHeight--base);
  height: 100%;
  margin: 0;
  min-height: 100vh;
  padding: 0;
  position: relative;
  scroll-behavior: smooth;
  overscroll-behavior: none;
  text-rendering: optimizeSpeed;
  -webkit-overflow-scrolling: touch;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

hr {
  clear: both;
  display: block;
  margin: var(--spacer--lg) auto;
}

ul,
ol {
  margin: 0 0 var(--spacer--base);
  padding: 0;
}

ul {
  list-style: none;
}

ol {
  padding: 0 0 0 var(--spacer--base);
}

li {
  margin: 0;
  padding: var(--spacer--sm) 0;
}

table {
  border-collapse: collapse;
  margin: 0 0 var(--spacer--base);
  overflow-x: auto;
  text-align: left;
  width: 100%;
  * {
    @include button-anim;
  }
  thead {
    border-bottom: 3px solid var(--color--primary);
  }
  tbody {
    border-bottom: 1px solid var(--color--tertiary);
  }
  tfoot {
    border-top: 1px solid var(--color--tertiary);
  }
  th {
    font-weight: var(--fontWeight--bold);
    padding: var(--spacer--base) var(--spacer--base) var(--spacer--base)
      var(--spacer--sm);
  }
  td {
    padding: var(--spacer--base) var(--spacer--base) var(--spacer--base)
      var(--spacer--sm);
  }
  &.striped {
    tr:nth-child(even) {
      background-color: var(--color--grey1);
    }
  }
  &.clickable {
    tr:hover {
      background-color: rgba($color: #5a5d60, $alpha: 0.5);
      color: var(--color--txt);
      cursor: pointer;
    }
    thead tr:hover,
    tfoot tr:hover {
      background: none;
      color: inherit;
      cursor: default;
    }
  }
}

img {
  display: block;
  max-width: 100%;
}

svg {
  fill: var(--color--txt);
  height: 100%;
  width: 100%;
  @include button-anim();
}

section,
article {
  margin: 0;
  padding: 0;
  position: relative;
  width: 100%;
}

:focus {
  outline-color: var(--color--primary);
}

::selection,
::-moz-selection,
::-webkit-selection {
  background: white;
  color: var(--color--black);
  text-shadow: none;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
