:root {
  --baseline--unit: 1rem;

  // Colors
  --color--primary: #168683;
  --color--secondary: #d4af37;
  --color--tertiary: #999779;

  --color--black: #111;
  --color--greyDk: #1b1b1b;
  --color--grey: #5a5d60;
  --color--greyLt: #f0f0f0;

  --color--success: #09d42e;
  --color--warning: #efe705;
  --color--error: #c84242;

  --color--txt: white;
  --color--bg: var(--color--black);

  // Typography
  --fontFamily: "Poppins", serif;
  --fontHeading: "Poppins", serif;

  // Line Height
  --lineHeight--xs: 1;
  --lineHeight--sm: 1.25;
  --lineHeight--base: 1.5;
  --lineHeight--lg: 1.75;
  --lineHeight--xl: 2;

  // Font Sizes
  --fontSize--base: var(--baseline--unit);
  --fontSize--heading: var(--baseline--unit);

  --fontSize--xs: calc(var(--fontSize--base) * 0.625);
  --fontSize--sm: calc(var(--fontSize--base) * 0.85);
  --fontSize--lg: calc(var(--fontSize--base) * 1.5);
  --fontSize--xl: calc(var(--fontSize--base) * 2);

  --fontSize--h1: calc(var(--fontSize--heading) * 4.209);
  --fontSize--h2: calc(var(--fontSize--heading) * 3.157);
  --fontSize--h3: calc(var(--fontSize--heading) * 2.369);
  --fontSize--h4: calc(var(--fontSize--heading) * 1.777);
  --fontSize--h5: calc(var(--fontSize--heading) * 1.333);
  --fontSize--h6: var(--fontSize--heading);

  // Font Weights
  --fontWeight--light: 100;
  --fontWeight--base: 300;
  --fontWeight--bold: 700;

  // Spacers
  --spacer--xs: calc(var(--baseline--unit) * 0.25);
  --spacer--sm: calc(var(--baseline--unit) * 0.5);
  --spacer--base: var(--baseline--unit);
  --spacer--lg: calc(var(--baseline--unit) * 2);
  --spacer--xl: calc(var(--baseline--unit) * 3);
}

@media (min-width: 64.375rem) {
  :root {
    --baseline--unit: 1.025rem;
  }
}

@media (min-width: 88.75rem) {
  :root {
    --baseline--unit: 1.05rem;
  }
}

@media (min-width: 99.75rem) {
  :root {
    --baseline--unit: 1.1rem;
  }
}
