button,
input[type="button"],
input[type="reset"],
input[type="submit"],
.btn {
  @include button(var(--color--primary));
  &.-secondary {
    --color--primary: var(--color--secondary);
  }
  &.-tertiary {
    --color--primary: var(--color--tertiary);
  }
  // &.-ghost {
  //   --color--primary: var(--color--txt);
  //   color: var(--color--txt);
  //   border-color: var(--color--text);
  //   padding: var(--spacer--base);
  //   &::after {
  //     height: 100%;
  //   }
  // }
  &.-success {
    --color--primary: var(--color--success);
    .icon {
      fill: var(--color--success);
    }
  }
  &.-warning {
    --color--primary: var(--color--warning);
    .icon {
      fill: var(--color--warning);
    }
  }
  &.-error {
    --color--primary: var(--color--error);
    .icon {
      fill: var(--color--error);
    }
  }
  // &.-block {
  //   display: block;
  //   margin: var(--spacer--sm) auto;
  //   width: 100%;
  //   @include breakpoint("medium") {
  //     display: inline-block;
  //     margin: var(--spacer--sm) var(--spacer--sm) var(--spacer--sm) 0;
  //     width: auto;
  //   }
  // }
  &:disabled,
  &.isDisabled {
    cursor: default;
    opacity: 0.5;
    pointer-events: none;
    transform: none;
  }
}
