label {
  font-size: var(--fontSize--sm);
  padding: 0;
}

select,
input,
textarea {
  appearance: none;
  background: transparent;
  border: transparent;
  border-bottom: 1px solid var(--color--grey);
  line-height: 1;
  position: relative;
  vertical-align: middle;
  white-space: normal;
  width: 100%;
  @include button-anim();
}

select[multiple] {
  vertical-align: top;
}

textarea {
  vertical-align: top;
  overflow: auto;
}

/* Text Inputs
-----------------------------------------------*/
// input[type="date"],
// input[type="datetime"],
// input[type="datetime-local"],
// input[type="email"],
// input[type="month"],
// input[type="number"],
// input[type="password"],
// input[type="range"],
// input[type="search"],
// input[type="tel"],
// input[type="text"],
// input[type="time"],
// input[type="url"],
// input[type="week"] {
// }

/* File Uploads
-----------------------------------------------*/
// input[type="file"] {
// }

/* Search Input
-----------------------------------------------*/
input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

/* Turn off the recent search for webkit. It adds about 15px padding on the left */
::-webkit-search-decoration {
  display: none;
}

/* IE8 and FF freak out if this rule is within another selector */
::-webkit-file-upload-button {
  padding: 0;
  border: 0;
  background: none;
}

@keyframes autofill {
  to {
    color: #fff;
    background: transparent;
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  animation-name: autofill;
  animation-fill-mode: both;
  font-size: var(--fontSize--base);
}
