%heading {
  font-family: var(--fontHeading);
  font-weight: var(--fontWeight--light);
  line-height: var(--lineHeight--sm);
  margin: 0 0 calc(var(--spacer--lg));
}

h1,
.h1 {
  @extend %heading;
  font-size: var(--fontSize--h1);
}

h2,
.h2 {
  @extend %heading;
  font-size: var(--fontSize--h2);
}

h3,
.h3 {
  @extend %heading;
  font-size: var(--fontSize--h3);
}

h4,
.h4 {
  @extend %heading;
  font-size: var(--fontSize--h4);
}

h5,
.h5 {
  @extend %heading;
  font-size: var(--fontSize--h5);
}

h6,
.h6 {
  @extend %heading;
  font-size: var(--fontSize--h6);
}

.lead {
  font-size: var(--fontSize--lg);
  position: relative;
}

p {
  font-size: var(--fontSize--base);
  line-height: var(--lineHeight--lg);
  margin: 0 0 var(--spacer--lg);
  + button,
  + input[type="button"],
  + .btn {
    margin-top: var(--spacer--sm);
  }
}

a {
  color: var(--color--primary);
  font-weight: var(--fontWeight--bold);
  cursor: pointer;
  position: relative;
  text-decoration-color: var(--color--primary);
  text-decoration-thickness: 0.125em;
  text-underline-offset: 2px;
  @include button-anim();
  &:hover {
    cursor: pointer;
    text-decoration: none;
  }
}

blockquote {
  font-size: var(--fontSize--h5);
  line-height: var(--lineHeight--lg);
  padding: var(--spacer--base);
  position: relative;
}

cite {
  display: block;
  margin: var(--spacer--lg) auto 0;
  small {
    display: block;
    margin: calc(var(--spacer--base) * 0.5) auto 0;
  }
}

b,
.bold,
strong {
  font-weight: var(--fontWeight--bold);
}

i,
em {
  color: var(--color--secondary);
  font-weight: var(--fontWeight--bold);
  // -webkit-text-stroke: 0.5px var(--color--txt);
  // text-stroke: 0.5px var(--color--txt);
  // font-style: italic;
  // font-variation-settings: "ital" 1;
}

small {
  font-size: var(--fontSize--sm);
}

figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}
